*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    height: 100vh;
}

/* ------------ Title-Bar ---------------------- */
.title-bar{
    height: 5vh;
    background-color: #107C41;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --------------------------------------------- */

/* ------------ Menu-Bar ---------------------- */
.menu-bar{
    height: 5vh;
    background-color: #107C41;
    display: flex;
    align-items: center;
    
}

.menu-item{
    padding: 0 10px;
    color: #fff;
    display: flex;
    align-items: center;
    height:100%
}

.menu-item:hover{
    background-color: #0b572d;
    cursor: pointer;
}

.menu-item.selected{
    background-color: #fff;
    color: #107C41;
}
/* ------------------------------------------------- */

/* ------------ Menu-Icon-Bar ---------------------- */
.menu-icon-bar{
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #F3F2F1;
}

.menu-icon{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    height: 80%;
    margin-right: 5px;
}

.selector{
    height: 65%;
    outline-color: #107C41;
}

.selector option{
    font-size: 16px;
}
.font-family-selector
{
    margin-left: 10px;
}
.font-size-selector{
    margin-right: 10px;
}
.menu-icon:hover{
    color: #107C41;
    cursor: pointer;
}

.menu-icon.selected{
    background-color: #dfdddb;
    color: #107C41;
}
.icon-color-fill,
.icon-color-text
{
    position: relative;
}
.color-picker{
    position: absolute;
    border: none;
    height: 14px;
    width: 33px;
    top: 21px;
    background: none;
    left: 6px;
    cursor: pointer;
}
/* ----------------------------------------------- */


/* ------------ Formula-Bar ---------------------- */
.formula-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #F3F2F1;
}

.formula-editor{
    height: 70%;
    border: 1px solid #a8a6a3;
    background-color: #fff;
    outline-color: #107C41;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.selected-cell{
    width: 120px;
}

.icon-function{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula-input{
    width: calc(100vw - 160px);
}
/* ------------------------------------------------ */

/* ------------Data-Container---------------------- */
.data-container{
    height: 74.8vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.select-all{
    height: 30px;
    width: 30px;
    border: 1px solid #a8a6a3;
    background-color: #F3F2F1;
}

.col-name-container{
    height: 30px;
    width: calc(100vw - 30px);
    border: 1px solid #a8a6a3;
    background-color: #F3F2F1;
    display: flex;
    overflow: hidden;
}

.col-name{
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #a8a6a3;
    font-weight: bold;
}
.row-name-container{
    height: calc(74.8vh - 30px);
    width: 30px;
    border: 1px solid #a8a6a3;
    background-color: #F3F2F1;
    overflow: hidden;
}

.row-name
{
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #a8a6a3;
    font-weight: bold;
}

.input-cell-container{
    height: calc(74.8vh - 30px);
    width: calc(100vw - 30px);
    border: 1px solid #a8a6a3;
    overflow: scroll;
}

.cell-row{
    display: flex;
}

.input-cell
{
    min-width: 100px;
    min-height: 30px;
    border-bottom: 2px solid #a8a6a3;
    border-right: 2px solid #a8a6a3;
    outline: 0;
    padding-top: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-cell.selected{
    border: 3px solid #107C41;
}

.input-cell.top-cell-selected{
    border-top: none;
}

.input-cell.bottom-cell-selected{
    border-bottom: 2px solid #a8a6a3;
}

.input-cell.right-cell-selected{
    border-right: 2px solid #a8a6a3;;
}

.input-cell.left-cell-selected{
    border-left: none;
}
/* --------------------------------------------- */

/* ------------ Sheet-Bar ---------------------- */
.sheet-bar{
    height: 4vh;
    display: flex;
    align-items: center;
    background-color: #dfdddb;
}

.scroller{
    width: 60px;
    
}

.icon-scroll-left, .icon-scroll-right
{
    font-size: 1.45rem;
    padding-top: 4px;
    
}

.icon-scroll-left:hover, .icon-scroll-right:hover
{
    transform: scale(1.2);
    color: #107C41;
    cursor: pointer;
}
.icon-add{
    font-size: 1.45rem;
    width: 35px
}
.icon-add:hover{
    transform: scale(1.2);
    color: #107C41;
    cursor: pointer;
}
.sheet-tab-container
{
    width: calc( 100vw - 95px );
    display: flex;
    align-items: center;
    height: 100%;
    
}

.sheet-tab{
   padding-left: 15px;
   font-weight: 600;
   width: 70px;
   border: 1px solid #a8a6a3;
   height: 100%;
   display: flex;
   align-items: center;
   border-bottom: 4.5px solid #107C41;
}

.sheet-tab:hover{
    cursor: default;
}